
/* COLORS */
$clr-100: rgba(255, 255, 255, 1);
$clr-200: rgba(247, 249, 255, 1);
$clr-300: rgba(224, 232, 255, 1);
$clr-400: rgba(113, 127, 166, 1);
$clr-500: rgba(56, 42, 225, 1);
$clr-600: rgba(31, 46, 85, 1);

$clr-hover: rgba(118, 108, 241, 1);

/* TYPE */
$ff-regular: 'Red Hat Display', sans-serif;

$fs-regular: 0.938rem;
$fs-regular-desktop: 1rem;
$lh-regular: 1.67;

$fs-header: 1.375rem;
$fs-header-desktop: 1.75rem;
$fs-accent: 0.875rem;
$fs-accent-small: 0.813rem;

$fw-medium: 500;
$fw-bold: 700;
$fw-heavy: 900;

